{% extends 'partials/base.html' %}
{% load static %}

{% block navbar %}
{% include 'partials/navbar.html' %}
{% endblock navbar %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link " href="{% url 'design' %}">
              <span data-feather="file"></span>
              Design
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'engineering' %}">
              <span data-feather="shopping-cart"></span>
              Engineering
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'accounting' %}">
              <span data-feather="users"></span>
              Accountant
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>
      </div>

      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
    </main>
  </div>
</div>
{% endblock content %}
{% block blockname %}
{% include 'partials/js.html' %}
{% endblock blockname %}
      

